# axon_bbs/requirements.txt
# Django and related packages
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers

# Nostr and networking
pynostr
websockets
python-socks

# Cryptography
cryptography
